@import url('https://fonts.googleapis.com/css?family=Raleway');
// @import "../styles/main.scss";
@import "../styles/abstracts/variables";
@import "../styles/base/reset";
@import "../styles/abstracts/mixins";

   form{
    max-width: 30em;
    margin: 4em auto;
    position: relative;
    background: $background;
    padding: 2em 3em;
   }
   form h1{
       font-family: "Raleway";
       color: $button-color; 
   }
   form input[type=text]::placeholder{
      font-family: "Raleway";
      color:#666; 
   }
   form .data{
       margin-top: 1em;
   }
   form .data li{
    background: #fff;
    border-left: 4px solid $button-color;
    padding: 1em;
    margin: 1em auto;
    color: #666;
    font-family: "Raleway";
   }
   form .data li i{
       float: right;
       color: #888;
       cursor: pointer;
   }
   form .input-group-text{
       background: $button-color;
       border-radius: 50%;
       @include sizing(5em, 5em);
       padding: 1em 23px;
       color: #fff;
       position: absolute;
       right: 13px;
       top: 68px;
       cursor: pointer;
   }
   form .input-group-text i{
       font-size: 2em;
   }
   form .form-control{
    height: 3em;
       font-family: "Raleway";
   }
   form .form-control:focus{
    box-shadow: 0;
   }

.list-instyled {
    list-style: none;
    padding: 0;
}